db.sqlite3
.env
**/*.pyc
**/__pycache__
/core/__pycache__
media
.DS_Store
*.sqlite3
*.env
core/migrations
Ecommerce-Template-Bootstrap-master


# Accept these files in the repository
!.gitignore
!.travis.yml
/.env
/.vscode